.PageListRoot{
	 padding-bottom: 1em;
}
a.PageListPage{
	font-size: 16px;
	font-weight: bold;
}
a.PageListPage,
a.PageListPage:hover {
	color: #444;
	background: transparent!important;
}
a.PageListPage:hover {
	color: @orange;
}

.PageList{
	margin-top: 0!important;
	.PageListItem + .PageListActions{
		margin-bottom: 0.5em !important;
		display: block;
		.PageListActionMore{
			
			a{
				margin: 0 !important;
			}
			border: none!important;
		}

	}

}

.PageListItem {
	clear: both;
	padding: 1em !important;
	&.PageListStatusUnpublished a{
			color: @gray;
		}
	.PageListActions {
		margin-left: 1em !important;
		li{
			border: none;
		}

	}

	&.ui-sortable-helper{
		background: #fff;
		padding: 8px 1%!important;
		width: 98%!important;
	}
}


.PageListSelectHeader{
	margin: 6px 0 19px 0;
	clear: both;
	.PageListActions {
		li{
			border: 0;
			float: right;
		}
	}

	.PageListSelectActions{
		float: right;
		padding: 0;
		display: inline-block!important;
	}
}





.PageListItem .PageListMoveNote,
.PageList .PageListActionMore,
.PageListItem .PageListActions{
	a {
		margin: 0 1em!important;
	    padding: 0 ;
	    // color: #fff;
	    color: #999;
	    text-transform: uppercase;
	    // font-size: 11px;
	    font-weight: bold;
	}
	a:hover{
		// background: #fff;
		color: #444;
	}
}

.PageListSelectActionToggle{
	padding: 4px!important;
	color: #fff!important;
}

.PageListItemOpen{
	background: #fff;
}

.PageListItemOpen, .PageListSortItem{
	.PageListNumChildren,
	.PageListPage{
		color: @orange;
	}
}

.PageListNumChildren{
	color: #aaa;
	float: right;
	font-weight: bold;
}
.PageListItem:hover > .PageListNumChildren{
	color: @base;
}
.PageListMoveNote{
	color: @gray;
	a{ // this should always be the cancel link I believe...
		color: @red!important;
	}
	a:hover{ // this should always be the cancel link I believe...
		color: @redDark!important;
	}

}
ul.MarkupPagerNav,
ul.PageListPagination{
	padding: 0;
	display: block !important;
	margin: 1.5em 0!important;
	// float: left;
	// overflow: hidden;
	height: 20px;
	.clearfix();
	// background: #fff;
	// border: 1px solid rgba(0,0,0,0.15);
	li{
		margin: -1px 1em -1px -1px;
		line-height: 20px;
		padding: 0;
		display: block;
		float: left;
		background: transparent;
		border: none;
		a{
			border-radius: 50%;
			background: transparent;
			color: @grayDark;
			padding: 0.6em;
			width: 1em;
			height: 1em;
			line-height: 1em;
			text-align: center;
			margin: 0;
			// font-size: 11px;
			display: block;
		}
		a:hover{
			background-color: @base;
			color: #fff;
		}
	}
	
	.PageListPaginationCurrent{
		a{
			background: #aaa !important;
			color: #fff;
			opacity: 1!important;
		}
	}
	
	a.ui-priority-secondary{
		color:transparent !important;
		height: 16px !important;
		width: 16px;
		margin: 0.5em;

		padding: 0;
		opacity: 0.4;
		background-color: transparent !important;
		border-color: transparent !important;
		background: url(jqueryui/images/ui-icons.png) -32px -16px no-repeat;
		&:hover,
		&.ui-state-hover{
			border-color: transparent !important;
			opacity: 1 ;
		}
	}
	li:first-child .ui-priority-secondary{
		background-position: -96px -16px;
	}
}
#ProcessPageSearchResults > .MarkupPagerNav{
	margin-top: 0 !important;
}

// Page statuses 
.PageListStatusHidden a{
	color: @gray;
}
.PageListStatusSystem a{
	color: @grayDark;
}


.PageListSortPlaceholder {
	height: 0!important;
	padding: 0!important;
	top: -1px;
	position: relative;
	margin: 0 0 -1px 0!important;
	background: transparent!important;
	border: none!important;
	border-bottom: 1px dashed @grayDark!important;
	width: auto!important;
}
.PageListSortPlaceholder:before {
	content : "";
	width: 0px !important;
	position: absolute;
	left: -3px;
	top: -5px;
	padding: 0;
	height: 0px !important 	;
	border-style: solid;
	border-width: 6px 0 6px 8px;
	border-color: transparent transparent transparent @base;
}

.PageListSortPlaceholder:after {
	content : "";
	width: 8px !important;
	height: 4px !important ;
	background: @base;
	position: absolute;
	left: -8px;
	top: -1px;
	padding: 0;
}

 .PageListPlaceholder{
	// overflow: hidden;
 	.PageListPlaceholderItem{
		border: 1px dashed @grayLight !important;
		background: @grayLighter;
		height: 12px !important;
		padding: 0 !important;
		margin: 6px 0 !important;
 	}
}



.PageListLoading{
	margin: 0 0.4em;
	background: url(images/loading.gif) top center  no-repeat!important;
}
