@base: #444f5f;
@baseLight: #69b7ef;
@baseLighter: lighten(#69b7ef, 8%);
@baseDark: darken(@base, 8%);
@baseDarker: darken(@baseDark, 10%);
@baseSoft : #e4ebee;


@orange : #f70;
@orangeDark : darken(@orange, 8%);

@red: #c00;
@redDark: darken(@red, 10%);

@green: #43b979;
@greenDark: darken(@green, 5%);
@greenDarker: darken(@green, 10%);

@yellow: #ffec9f;
@yellowDark: #cfb138;
@yellowLight: #fff6d3;


@grayDark: #333;
@grayDarker: #222;
@grayLight: #ddd;
@grayLighter: #eee;
@grayLightest: #fbfbfb;
@gray: #999;
@grayMed: #777;

@logoImage: url(images/logo.png);