.WireTabs {
	left: 0!important;
	margin-bottom: 2em !important;
	display: block;
	border-bottom: 4px solid #ddd;
	list-style: none!important;
	list-style-type: none!important;
	.clearfix();
	padding: 0 !important;
	li {
		a{
		    color: #999;
		   	padding: 0.8em 1.2em;
		   	display: block!important;
		   	float: left;
		   	border: none !important;
		   	font-size: 14px;
		   	margin: 0 1em 2em 0;
		    font-weight: bold;
		    text-transform: uppercase;
		}
		a:hover {
		    color: @grayDark;
		}
		a.on:hover, 
		a.on{
			color: #222;
		}
	}
}

